// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.avatar-img-preview {
    height: 200px;
    width: 200px;
}

.avatar-img-mini {
    height: 50px;
    width: 50px;
}
.video-thumbnail {
    height: 200px;
    width: 200px;
}

pagination-nav {
    background: none;
}
li {
    list-style: none;
}
